name: Rust

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v6

      - if: matrix.os == 'ubuntu-latest'
        name: Install APT packages with cache
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libasound2-dev
          version: 1.0

      - name: Setup rustfmt and clippy
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy

      - name: Cache cargo build
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
          workspaces: |
            . -> target

      - name: Format Check
        run: cargo fmt --check
      - name: Clippy Check
        run: cargo clippy --verbose --all-targets --all-features -- -D warnings
      - name: Build all targets
        run: cargo build --verbose --all-targets --all-features --examples
      - name: Binary tests
        run: cargo test --verbose --all-targets --all-features
      - name: Doc tests
        run: cargo test --verbose --doc --all-features
      - name: Build documentation
        run: cargo doc --no-deps --all-features --document-private-items
